{% extends "layout.html" %}
{% block content %}
    <div class = "content-section"> 
        <form method="POST" action="">
            {{ form_flask.hidden_tag() }} 
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change Password Request</legend>  
                <div class="form-group"> 
                    {{ form_flask.email.label(class = "form-control-label") }}
                    {% if form_flask.email.errors %}
                    {{ form_flask.email(class = "form-control form-control-lg is-invalid") }}
                    <div class = "invalid-feedback">
                    {% for err in form_flask.email.errors %}
                        <span>{{ err }}</span>
                    {% endfor %}
                    </div>
                    {% else %}
                    {{ form_flask.email(class = "form-control form-control-lg") }} 
                    {% endif %} 
                </div>
                <div class="form-group"> 
                    {{ form_flask.submit(class = "btn btn-outline-info") }}  
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}